<!DOCTYPE html>
<script src="https://unpkg.com/vue@2/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Device List</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
<div id = "app">
    <input type="text" v-model=deviceId><br>
    <input type="text" v-model=deviceName><br>
    <button type="button" @click="addDeviceRecord">add</button>
    <button type="button" @click="getDeviceRecord">query</button>
    <div v-for="item in list"> {{item}} </div>

    <template>
        <el-table
                :data="tableData"
                border
                style="width: 100%">
            <el-table-column
                    prop="device_id"
                    label="device's ID"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="device_name"
                    label="device's 姓名"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="device_type"
                    label="device's type">
            </el-table-column>
        </el-table>
    </template>

</div>
</body>
</html>

<script>
    var vue =  new Vue({
        el:"#app",
        data:{
            deviceId:"",
            deviceName:"",
            list:[],
            tableData: [],
        },
        methods:{
            addDeviceRecord(){
                alert(this.deviceId);
                axios.post("/device/add_record",{
                    deviceid:this.deviceId,
                    devicename:this.deviceName,
                    devicetype:"sensor",
                    createtime:"2025-04-01 00:00:01"
                }).then(function(res){
                    console.log(res);
                }).catch(function(err){
                    console.log(err);
                });
            },
            getDeviceRecord(){
                axios.post("device/get_record",{
                }).then(function(res){
                    console.log(res);
                    var l = res.data.aaData;
                    for ( var i =0 ; i<l.length;i++){
                        var record = l[i];
                        vue.tableData.push(record);
                    }
                    console.log(this.tableData);
                }).catch(function(err){
                    console.log(err);
                });
            }
        },
    })
</script>